<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mamingzhang.androidstructuretest">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <!--A-->
    <!--B-->
    <!--C-->
    <!--DEdit-->
    <!--E-->
    <!--F-->
    <!--G-->
    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.base.BaseActivity" />
        <activity
            android:name=".activity.base.BaseFragmentContainerActivity"
            android:label="@string/title_activity_base_fragment_container"
            android:parentActivityName=".activity.base.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mamingzhang.androidstructuretest.activity.base.BaseActivity" />
        </activity>

        <meta-data
            android:name="com.example.mamingzhang.androidstructuretest.glide.CustomGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>